@import '../../styles/variables.scss';

.bought-products-list {
	padding: 15px;
	background: #EEE;
	display: flex;
	flex-direction: column;

	&__product {
		font-size: 16px;

		.bought-product__check {
			color: $mainColorGreen;
			padding-right: 5px;
		}
	}
}
