@import '../../styles/variables.scss';

.shopping-list {
  background: #fff;
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 5px;

  &__product {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border: 0;
    }

    .product-removal {
      margin-left: auto;
      color: $mainColorBlue;
      cursor: pointer;
    }

    .product-name {
      position: relative;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      padding-right: 10px;
      user-select: none;
      width: 100%;
    }
  }
}
