@import '../../styles/variables.scss';

.button {
  background: $mainColorGreen;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  cursor: pointer;

  &__icon {
    padding-right: 5px;
  }

  &--half-width {
    width: 50%;
    font-size: 14px;
    margin: 5px;
  }

  &--full-width {
    width: 100%;
    font-size: 24px;
    margin: 0;
  }
}
