.clear-button {
	background: #5abc27;
	border: 0;
	border-radius: 5px;
	color: #FFF;
	padding: 10px;
	width: 50%;
	text-align: center;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;

	&__icon {
		padding-right: 5px;
	}
}
