* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

.shopping-list-app {
	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 360px;
	margin: 10px auto;
	border: 1px solid #EEE;
	border-radius: 5px;
	background: #FFF;

	&__header {
		background: #1b90f1;
	}

	.clear-buttons-panel {
		display: flex;
		padding: 10px 10px 0;
	}
}


